<form id="booking-form" class="booking-form" name="booking-form" method="post" action="">
    <div id="form-content">
        <div class="group">
            <label for="date-from">From</label>
            <div class="addon-right">
                <input id="date-from" name="date_from" class="form-control" type="text" required>
                <i class="fa fa-calendar"></i>
            </div>
        </div>

        <div class="group">
            <label for="date-to">To</label>
            <div class="addon-right">
                <input id="date-to" name="date_to" class="form-control" type="text" required>
                <i class="fa fa-calendar"></i>
            </div>
        </div>

        <div class="group">
            <label for="room-type">Room type</label>
            <div>
                <select id="room-type" name="room_type" class="form-control" required>
                    <option value="Single room">Single room</option>
                    <option value="Double room">Double room</option>
                    <option value="Apartment">Apartment</option>
                </select>
            </div>
        </div>

        <div class="group">
            <label for="room-requirements">Room <br/>requirements</label>
            <div>
                <select id="room-requirements" name="room_requirements" class="form-control">
                    <option value="No Preference">No Preference</option>
                    <option value="Non Smoking">Non Smoking</option>
                    <option value="Smoking">Smoking</option>
                </select>
            </div>
        </div>              

        <div class="group">
            <label for="adults">Adults</label>
            <div>
                <select id="adults" name="adults" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>

        <div class="group">
            <label for="children">Children</label>
            <div>
                <select id="children" name="children" class="form-control">
                    <option value="-">-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>

        <div class="group">
            <label for="txtName" >Name</label>
            <div>
                <input id="name" name="txtName" class="form-control" type="text" placeholder="Name" required>
            </div>
        </div>

        <div class="group">
            <label for="email">Email</label>
            <div>
                <input id="email" name="email" class="form-control" type="email" placeholder="Email" required>
            </div>
        </div>

        <div class="group">
            <label for="phone">Phone</label>
            <div>
                <input id="phone" name="phone" class="form-control" type="text" placeholder="Phone" required>
            </div>
        </div>

        <div class="group">
            <label for="special-requirements">Special <br/>requirements</label>
            <div>
                <textarea id="special-requirements" name="special_requirements" class="form-control" cols="" rows="5" placeholder="Special requirements"></textarea>
            </div>
        </div>

        <div class="group submit">
            <label class="empty"></label>
            <div>
                <input name="submit" type="submit" value="Submit"/>
            </div>
        </div>
    </div>

    <div id="form-loading" class="hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div id="form-message" class="message hide">
        Thank you for your enquiry!
        We will get back to you soon
    </div>
</form>